*{
    text-decoration: none;
}
.nav{
    padding-right: 15px;
    padding-left: 15px;
    flex-wrap: nowrap;
    float: top;
}
.ndiv{
    display: flex;
    justify-content: space-between;
}
.logo a{
    margin-left: 190px;
    font-size: 35px;
    font-weight: 600; 
    color: white;
}
.logo a:hover{
    color: yellow;
}
li{
    list-style: none; 
    display: inline-block;
}
li a{
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
    margin-right: 30px;
}
li a:hover{
    color: yellow;
}
ul{
    margin-right: 180px;
}
.b1{
    font-size: 20px;
    border-radius: 15px;
    background-color: red;
    color: white;
}
.s1{
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
}
.h2{
    color: white;
    font-size: x-large;
}
.sp1{
    color: white;
    font-weight: bold;
    font-size: 50px;
}
.p1{
    color: white;
    font-size: 35px;
}
.p2{
    color: white;
    font-size: 25px;
}
.g1{
    position: absolute;
    background-color: mediumblue;
    border-radius: 10px;
    height: 32px;
    width: 120px;
}
.g1 a{
    color: white;
    font-size: 17px;
    text-align: center;
}
.g1:hover{
    background-color: orange;
}
.g2{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 150px;
}
.g2 a{
    font-weight: bold;
    color: whitesmoke;
}
.d1{
    height: 350px;
    width: 250px;
    margin-top: 100px;
    margin-left: 1000px;
    border-radius: 10px;
    background-image: url(prasanna.jpg);
    background-size: cover;
    position: absolute;
}
.d2{
    position: absolute;
    background-color: white;
    height: 90px;
    width: 180px;
    margin-top: 120px;
    margin-left: 870px;
    border-radius: 10px;
}
.d2 span{
    position: absolute;
    color: skyblue;
    font-weight: bold;
    font-size: 50px;
    padding: 12px;
}
.d2 p{
    margin-left: 70px;
    margin-top: 20px;
    font-size: 25px;
}
.d3{
    position: absolute;
    background-color: white;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 1195px;
    border-radius: 10px;
}
.d4{
    position: absolute;
    background-color: white;
    height: 90px;
    width: 250px;
    margin-top: 330px;
    margin-left: 1150px;
    border-radius: 10px;
} 
.d4 span{
    position: absolute;
    color: red;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
}
.d4 p{
    margin-left: 100px;
    margin-top: 20px;
    font-size: 25px;
}
.fa-trophy{
    color: gold;
    padding: 14px;
    font-size: 65px;
}
#a1{
    background: rgb(17,216,193);
    background: linear-gradient(90deg, rgb(136, 209, 252) 42%, rgb(7, 95, 237) 74%, rgba(0,212,255,1) 100%);
    height: 710px;
    width: 1520px;
}
#a2{
    background-color: black;
    height: 710px;
    width: 1520px;
}
#a3{
    background-color: black;
    height: 2200px;
    width: 1520px;
}
.d5{
    position: absolute;
    height: 350px;
    width: 380px;
    background-image: url(about-banner.jpg);
    background-size: cover;
    margin-top: 150px;
    margin-left: 300px;
    border-radius: 10px;
}
.d6{
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: url(absolute-image.jpg);
    background-size: cover;
    border-radius: 10px;
    margin-top: 400px;
    margin-left: 200px;
}
.d7{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 10px;
    margin-left: 630px;
    margin-top: 100px;
}
.fa-js{
    font-size: 60px;
    color: white;
    margin-top: 23px;
    margin-left: 25px;
}
.d8{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 10px;
    margin-left: 160px;
    margin-top: 180px;
}
.fa-css3-alt{
    font-size: 60px;
    color: white;
    margin-top: 23px;
    margin-left: 25px;
}
.d9{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgb(155, 0, 0);
    border-radius: 10px;
    margin-left: 530px;
    margin-top: 450px;
}
.fa-angular{
    font-size: 60px;
    color: white;
    margin-top: 23px;
    margin-left: 25px;
}
.s3{
    position: absolute;
}
.p3{
    position: absolute;
    font-size: 25px;
    color: brown;
    margin-top: 130px;
    margin-left: 800px;
}
.p4{
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-top: 170px;
    margin-left: 800px;
}
.p5{
    color: gray;
    margin-left: 800px;
    font-size: 20px;
}
.p6{
    color: gray;
    margin-top: 50px;
    margin-left: 800px;
    font-size: 20px;
}
.b2{
    position: absolute;
    background-color: mediumblue;
    border-radius: 10px;
    height: 32px;
    width: 120px;
    margin-left: 800px;
}
.b2 a{
    color: white;
    font-size: 15px;
    text-align: center;
}
.b2:hover{
    background-color: orange;
}
.p7{
    color: orange;
    font-size: 25px;
    padding: 710px;
}
.s4 h3{
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 590px;
}
.s4 p{
    font-size: 20px;
    color: gray;
    margin-left: 400px;
}
.d10{
    height: 350px;
    width: 750px;
    background-image: url(portfolio-1.jpg);
    background-size:900px;
    margin-left: 400px;
    border-radius: 10px;
}
.d10:hover{
    transform: scale(1.2);
}
.d10 h2{
    color: orange;
    margin-left: 70px;
}
.d10 h1{
    margin-left: 70px;
    color: white;
    font-weight: bold;
    font-size: 35px;
}
.d10 h5{
    margin-left: 70px;
    color: white;
    font-size: 20px;
}
.fa-arrow-right{
    color: orange;
    font-size: 15px;
}
.d11{
    height: 350px;
    width: 750px;
    background-image: url(portfolio-2.jpg);
    background-size: cover;
    margin-left: 400px;
    border-radius: 10px;
}
.d11 h2{
    color: orangered;
    margin-left: 390px;
}
.d11 h1{
    margin-left: 390px;
    color: white;
    font-weight: bold;
    font-size: 35px;
}
.d11 h5{
    margin-left: 390px;
    color: white;
    font-size: 20px;
}
.d12{
    height: 350px;
    width: 750px;
    background-image: url(portfolio-3.jpg);
    background-size: cover;
    margin-left: 400px;
    border-radius: 10px;
}
.d12 h2{
    color: orangered;
    margin-left: 70px;
}
.d12 h1{
    margin-left: 70px;
    color: white;
    font-weight: bold;
    font-size: 35px;
}
.d12 h5{
    margin-left: 70px;
    color: white;
    font-size: 20px;
}
.d13{
    height: 350px;
    width: 750px;
    background-image: url(portfolio-4.jpg);
    background-size: cover;
    margin-left: 400px;
    border-radius: 10px;
}
.d13 h2{
    color: orange;
    margin-left: 390px;
}
.d13 h1{
    margin-left: 390px;
    color: white;
    font-weight: bold;
    font-size: 35px;
}
.d13 h5{
    margin-left: 390px;
    color: white;
    font-size: 20px;
}